#bb-stitch {
    width: 30%;
    height: 70%;
}

#oval {
    width: 100%;
    height: 100px;
    position: relative;
    top: 60px;
    background-color: #de8b3b;
    border-radius: 100px / 50px;
}

.burger-bun-top {
    background-color: #F0CC9A;
    background-image: linear-gradient(#de8b3b,#f3cca1);
}

.burger-bun-bot {
    background-color: #F0CC9A;
    background-image: linear-gradient(#f3cca1,#de8b3b);
}

.meat {
    background-color: #A06753;
}

#burgers-avail {
    border-right: 5px solid #FFAD07;
}

#burgers-devoured {
    overflow-y: auto;
    max-height: 600px;
}

.btn {
    max-width: 83px;
    white-space: normal;
}